<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Disable Directory listing
Options -Indexes

# CORS Headers
Header set Access-Control-Allow-Origin "https://tablebooking-v2.vercel.app"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE, PUT"
Header set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With, Accept"

# Block access to .env and other sensitive files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>
